@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --primary-color:rgb(69, 128, 195);

}
body{
  font-family: 'Roboto', sans-serif;
}
/* ::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #fafcfd;
}
::-webkit-slider-thumb{
    background: var(--primary-color);
    border-radius: 12px;
    transition:all 0.3s ease;
}
::webkit-scrollbar-thumb:hover{
    background: var(--primary-color);
} */
nav{
position: fixed;
width: 100%;
padding: 20px 0;
z-index: 999;
transition: 0.3s all ease;
}
nav.sticky{
    background: var(--primary-color);
    padding: 13px 0;
}
nav  .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
nav .navbar .logo a{
    font-weight: bold;
    font-size: 35px;
    color: rgb(31, 50, 70);

}
nav .sticky .navbar .logo a{
    color: rgb(46, 43, 43);
}
nav .navbar .menu{
    display: flex;
    position: relative;

}
nav .navbar .menu li{
    list-style: none;
    margin: 0 8px;
}
nav .navbar .menu a{
    font-weight: bold;
    font-size: 22px;
    color:rgb(31, 50, 70);
    padding: 6px 0;
    transition: 0.4s all in ease;
}
nav .menu a:hover{
    color: bl;
}
nav  .menu a{
    color:  white;
}
nav .menu a:hover{
    color: rgb(231, 222, 222);
}
.navbar .media-icons a{
    color: rgb(31, 50, 70);
    font-size: 20px;
    margin: 0 6px;
}

  /* side navigation Menu Button CSS */
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    position:absolute;
    color: white;
    right:30px;
    top:20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
  }
  nav .menu-btn{
    color:var(--primary-color);
  }
  nav.sticky .menu-btn{
    color: white;
  }
  .navbar .menu .menu-btn{
    color: white;
  }
  
  /* home section styling */
  .home{
    height:100vh;
    width:100%;
    background:url("background.jpg") no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
  .home .home-content{
    width:90%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  /* About Section Styling */
  section{
    padding-top:40px;
  }
  section .content{
    width:80%;
    margin:40px auto;
    font-family: 'Poppins', sans-serif;
  }
  section .title{
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .title span{
    color:black;
    font-size: 30px;
    font-weight: 600;
    position:relative;
    padding-bottom:8px;
  }
  
  .about .about-details{
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .about .about-details .left{
    width:45%;
  }
  .about .left img{
    height:400px;
    width:400px;
    object-fit: cover;
    border-radius: 12px;
  }
  .about .about-details .right{
    width:55%;
  }
  section .topic{
    color:black;
    font-size:25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .about-details .right p{
    text-align: justify;
    color:black;
  }
  section .button{
    margin:16px 0;
  }
  section .button button{
    outline:none;
    padding:8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    color: white;
    border:2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  section .button button:hover{
    border-color:var(--primary-color);
    background-color: white;
    color:var(--primary-color);
  }
  
  /* My Skills CSS */
  .skills{
    background:#f0f8ff;
  }
  .skills .content{
    padding:40px 0;
  }
  .skills .skills-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .skills-details .text{
    width:50%;
  }
  .skills-details p{
    color:black;
    text-align: justify;
  }
  .skills .skills-details .experience{
    display:flex;
    align-items: center;
    margin:0 10px;
  }
  .skills-details .experience .num{
    color:black;
    font-size: 80px;
  }
  .skills-details .experience .exp{
    color:black;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin:0 6px;
  }
  .skills-details .boxes{
    width:45%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
  .skills-details .box{
    width:calc(100% / 2 - 20px);
    margin:20px 0;
  }
  .skills-details .boxes .topic{
    font-size: 20px;
    color:var(--primary-color);
  }
  .skills-details .boxes .per{
    font-size: 60px;
    color:var(--primary-color);
  }
  
  /* My Services CSS */
  .services .boxes{
     display:flex; 
     flex-wrap: wrap;
     justify-content:space-between;
  }
  .services .boxes .box{
    margin:20px 0;
    width:calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding:30px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    cursor:default;
    transition: all 0.4s ease;
  }
  .services .boxes .box:hover{
    background: var(--primary-color);
    color: white;
  }
  .services .boxes .box .icon{
    height:50px;
    width:50px;
    background: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin:0 auto 10px auto;
    transition: all 0.4s ease;
  }
  .boxes .box:hover .icon{
    background: white;
    color:var(--primary-color);
  }
  .services .boxes .box:hover .topic,
  .services .boxes .box:hover p{
    color: white;
    transition: all 0.4s ease;
  }
  /* contact section styling */
.contact .contact-content .column{
  width: calc(80% - 40px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: center;
  font: 1.3em sans-serif;
}
.contact .contact-content .left .icons{
  margin: 10px 8px;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .info .head{
  font-weight: bold;
}
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .text{
  display: inline;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 6px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
padding-top: 8px;
resize: none;
}
.contact .right form .button-area button{

border: 2px solid rgb(25, 23, 23);

}
  /* Footer CSS */
  footer{
    background:var(--primary-color);
    padding:15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: white;
  }
  footer .text span a{
    font-weight: 500;
    color: white;
  }
  footer .text span a:hover{
    text-decoration: underline;
  }
  /* Scroll To Top Button CSS */
  .scroll-button a{
    position:fixed;
    bottom:20px;
    right:20px;
    color: white;
    background:var(--primary-color);
    padding:10px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.15);
    display:none;
  }
  
  /* Responsive Media Queries */
  @media (max-width:1190px){
    section .content{
      width:85%;
    }
  }
  @media (max-width:1000px){
    .about .about-details{
      justify-content: center;
      flex-direction: column;
    }
    .about .about-details .left{
      display: flex;
      justify-content:center;
      width:100%;
    }
    .about .about-details .right{
      width:90%;
      margin:40px 0;
    }
    .services .boxes .box{
      margin:20px 0;
      width:calc(100% / 2 - 20px);
    }
  }
  @media (max-width:900px){
    .about .left img{
      height:350px;
      width:350px;
    }
  }
  @media (max-width:750px){
     nav .navbar{
       width:90%;
     }
     nav .navbar .menu{
       position:fixed;
       left:-100%;
       top:0;
       background:var(--primary-color);
       height:100vh;
       max-width: 400px;
       width:100%;
       padding-top:60px;
       flex-direction: column;
       align-items:center;
       transition: all 0.5s ease;
     }
     .navbar.active .menu{
       left:0;
     }
     nav .navbar .menu a{
       font-size:23px;
       display:block;
       color: white;
       margin:10px 0;
     }
     nav.sticky .menu a:hover{
       color:var(--primary-color);
     }
     nav .navbar .media-icons{
       display:none;
     }
     nav .menu-btn,
     .navbar .menu .cancel-btn{
       display:block;
     }
  
     .home .text-two{
       font-size: 65px;
     }
     .home .text-three{
      font-size: 35px;
    }
  
    .skills .skills-details{
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .skills-details .text{
      width:100%;
      margin-bottom:50px;
    }
    .skills-details .boxes{
      justify-content:center;
      align-items: center;
      width:100%;
    }
  
    .services .boxes .box{
      margin:20px 0; 
      width:100%;
    }
  
    .contact .text{
      width:100%;
    }
  }
  
  @media (max-width:500px){
    .home .text-two{
      font-size: 55px;
    }
    .home .text-three{
      font-size: 33px;
    }
  
    .skills-details .boxes .per{
      font-size: 50px;
      color:var(--primary-color);
    }
  }